/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-avatar1-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: -208px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar1 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px -154px;
  width: 75px;
  height: 75px;
}
.icon-avatar2-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: -104px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar2 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px 0px;
  width: 75px;
  height: 75px;
}
.icon-avatar3-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: 0px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar3 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px -77px;
  width: 75px;
  height: 75px;
}
.icon-avatar5-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: -260px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar5 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px -231px;
  width: 75px;
  height: 75px;
}
.icon-avatar6-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: -52px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar6 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px -308px;
  width: 75px;
  height: 75px;
}
.icon-avatar7-sm {
  background-image: url(../img/avatars/sprites.png);
  background-position: -156px -489px;
  width: 50px;
  height: 50px;
}
.icon-avatar7 {
  background-image: url(../img/avatars/sprites.png);
  background-position: -541px -385px;
  width: 75px;
  height: 75px;
}
.icon-sprites {
  background-image: url(../img/avatars/sprites.png);
  background-position: 0px 0px;
  width: 539px;
  height: 487px;
}
